<html>
    <head>
        <title>Word Counter!</title>
        <style>
            .title {
                text-align: center;
                font-size: 50px;
            }
            .about {
                text-align:center;
            }
            .madeby {
                text-align:center;
            }
            .home {
                text-align:center;
            }
        </style>
    </head>

    <body>
        <div class="title">
            <h1>Word Counter!</h1>
        </div>
        <br>
        <div class="about">
            <h3>입력받은 문장을 띄어쓰기 단위로 개수를 세어주는 사이트 입니다.</h3>
        </div>
        <br><br><br>
        <div class="home">
            <a href="{% url 'home' %}">back</a>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="madeby">
            <p>madeby</p>
            <p>경상대 컴퓨터과학과 19학번 이다혜</p>
        </div>
    </body>
</html>